html{
    height:100%;
}

body {
    height:100%;
    padding-top: 50px;
    padding-bottom:100px;
    background-image: url('/images/6daa929-background.jpg'); 
    background-repeat: repeat-x;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    min-height:100%;
    margin-bottom: -35px;
    padding-left: 15px;
    padding-right: 15px;
}

.body-content-container {
    background-color: black;
    border-radius: 25px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	padding: 55px 50px;
	margin-top: 80px;
}

.selected-img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}

.searched-img {
    border-width: 3px;
    border-style: dashed;
    border-color: white;
}

.picked-self-img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    border-width: 3px;
    border-style: dashed;
    border-color: white;
}
.picked-team-img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    border-width: 3px;
    border-style: dashed;
    border-color: greenyellow;
}
.other-team-img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    border-width: 3px;
    border-style: dashed;
    border-color: orangered;
}

hr {
    /*border-top: 1px solid #9933cc;*/
}

.progress {
    height: 10px;
    margin-bottom: 0px;
}