body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Lato', serif;
    color: white;
    background-color: #0B1425;
    background: #0B1425 url("/images/backgrounds/background.jpg") no-repeat;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.important-title {
    color: orange;
}

.important-new {
    color: green;
}

.important-existing {
    color: #00BFFF;
}

/* Test */
img.disabled {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}

section.pool {
    padding-left: 10px;
    background-color: #0B1425;
}