@{
    ViewData["Title"] = "Home Page";
}

<section>
    <br />
    <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-5">
            <h2 class="important-title">High Ground Vision</h2>
            <h3>Ability Drafter</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec fringilla orci. Mauris laoreet tristique arcu non posuere. Morbi imperdiet, eros ullamcorper fermentum vehicula, tellus lorem vehicula neque, dapibus blandit ipsum est ac sapien. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In non accumsan lorem. Aenean nisl nulla, mattis sed turpis quis, pulvinar tempus neque. Pellentesque elementum, quam at pulvinar pellentesque, est tellus maximus libero, non rutrum mi nisi quis velit. Integer non accumsan est.</p>
            <p>Fusce augue lectus, mollis venenatis porta a, sodales non purus. In non varius elit, sed tempor sem. Nulla dapibus semper nisl, a pharetra mauris faucibus quis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras eget mauris arcu. Quisque id scelerisque dui. Cras eget ex orci. Donec eleifend fringilla dapibus.</p>
        </div>
        <div class="col-md-2">
            <img src="~/images/characters/cluckles.png" class="img-responsive" />
            <div class="alert alert-info text-center">
                <strong>Hi, I am Cluckles!</strong><br />
                <p>AD is hard and confusing, lucky I am here to help.</p>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <div class="row">
        <div class="col-md-12">

            <h2>Patch 7.07 & vNext</h2>
            <ul>
                <li>New Drafting UI</li>
                <li>Added support for chat during draft.</li>
                <li>Added support for swapping ability slots.</li>
                <li>Added tooltips for hero talents and base stats as well as indicators for hero primary attributes.</li>
                <li>Scoreboard will now show drafted abilities at end of game and when viewing replays.</li>
                <li><b class="important-new">17 New</b> heroes. Including Dark Willow and Pangolier.</li>
                <li><b class="important-existing">6 Existing</b> heroes have been "fixed".</li>
            </ul>

            <p>A number of these changes have made the existing parts of this website obsolete.</p>
            <ul>
                <li>Tooltips for base stats</li>
                <li>Tooltips for primary attribute</li>
                <li>Tooltips for talents</li>
            </ul>
            <p>Since the primary focus of the website was to provide these details to drafters and that will no longer be needed after the update we are focusing the website towards drafting.</p>
            <p>We are currently rewriting the API to provide a better drafting experience. We want to include the stats for Ability & Combos. As well as filters for Stuns, Disables, Passives, etc.</p>
            <p>We are going to investigate the changes to the scoreboard as it may contain insights into the drafting order.</p>
            <p>You can get more update details on our twitter <a href="https://twitter.com/DotaHGV">@@DotaHGV</a></p>
        </div>
    </div>
</section>