@{
    ViewData["Title"] = "Login";
}

<br />
<div class="row">
    <div class="col-sm-push-3 col-sm-6">
        <div class="row">
            <div class="col-md-4">
                <img src="~/images/characters/cluckles.png" class="img-responsive" />
                <div class="alert alert-info text-center">
                    <strong>Why do I need to sign in?</strong><br />
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <p>
                        We ask that you login through steam to verify your identity. We can use your id to retrieve your most recent matches. We only have access to information that is publicly available on your steam profile. If you have chosen to remain anonymous features that require you to login will not function.
                    </p>
                </div>
                <div>
                    <form asp-area="" asp-controller="Account" asp-action="ExternalLogin" method="post" id="loginForm">
                        <button type="submit" class="btn btn-link" id="Steam" name="provider" value="Steam" title="Log in using your Steam account">
                            <img src="~/images/steam/sits_large_border.png" />
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>

    </div>
</div>
