p {
  font-size: 110%;
}

hr.highlighted {
  border-color: #ffc107;
}
img.cluckles-speach {
  position: relative; 
  top:-25px;
  z-index: -10;
}
.bordered-alert {
  border: 2px; 
  border-style: solid; 
  border-color: black;
}
img.disabled {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

.hero-icon-profile {
  height: 128px;
}

.hero-icon-profile-md {
  height: 64px;
}

.hero-icon-profile-sm {
  height: 32px;
}

.hero-icon-banner {
  height: 64px;
}

.hero-icon-banner-sm {
  height: 32px;
}

.ability-icon-lg {
  width: 128px;
  height: 128px;
}

.ability-icon-md {
  width: 64px;
  height: 64px;
}

.ability-icon-sm {
  width: 32px;
  height: 32px;
}

.ability-icon-xs {
  width: 16px;
  height: 16px;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #888;
}
.dropdown-menu { 
  width:100% !important;
}