@{
    ViewData["Title"] = "Draft";
}

@section scripts
{
    <script type="text/javascript" src="~/lib/js-url/url.min.js"></script>
    <script type="text/javascript" src="~/js/draft.js" asp-append-version="true"></script>
}

<h2>Draft</h2>

<section>
    <div class="row">
        <div class="col-md-12">
            <p>
                Pick the ultimates listed in the draft window in the order which they are listed. Then select your hero form the list.
            </p>
        </div>
    </div>
</section>

<section>
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#subnav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="subnav">
       
            <form class="navbar-form navbar-left" onsubmit="return false;">
                <a class="btn btn-info" href="http://hgv-bloodstone.azurewebsites.net/" target="_blank">Download Auto Drafter</a>
            </form>
            <form class="navbar-form navbar-right" onsubmit="return false;">
                <div class="form-group">
                    <input class="form-control" placeholder="Search by Hero or Ability" data-bind="value: SearchDraft">
                </div>
                <div class="form-group">
                    <a class="btn btn-warning" data-bind="click: Reset">Reset</a>
                </div>

            </form>
        </div>
    </nav>

</section>

<section class="visible-xs">
    <div class="alert alert-warning" role="alert">
        <h5>Warning!</h5> Drafting on mobile is not the best experience. We are exploring other options that work better for mobile devices.
    </div>
</section>

<section data-bind="visible: IsDrafting()" style="display:none;">
    <div class="row" data-bind="foreach: AvailableDraft">
        <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
            <img src="" class="img-rounded img-responsive" data-bind="click: $root.SelectAbility, css: $root.GetSelectedStyling($data), attr: { src: 'http://cdn.dota2.com/apps/dota2/images/abilities/' + abilityIdentity + '_hp1.png' }" />
        </div>
    </div>
    <hr />
</section>

<section>
    <div class="row" data-bind="foreach: SelectedDraft">
        <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
            <img src="" class="img-responsive img-rounded" data-bind="attr: { src: 'http://cdn.dota2.com/apps/dota2/images/abilities/' + abilityIdentity + '_hp1.png'}" />
        </div>
    </div>
    <hr />
</section>

<section data-bind="visible: IsDraftFull()" style="display:none;">
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <!-- Padding -->
        </div>
        <!-- ko foreach: TeamDire -->
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <a href="" data-bind="attr: { href: $root.getSelectedHeroUrl($data) }" >
                <img src="" class="img-responsive img-rounded" data-bind="attr: { src: 'http://cdn.dota2.com/apps/dota2/images/heroes/' + heroIdentity + '_hphover.png'}" />
            </a>
        </div>
        <!-- /ko -->
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <!-- Padding -->
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <!-- Padding -->
        </div>
        <!-- ko foreach: TeamRadiant -->
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <a href="" data-bind="attr: { href: $root.getSelectedHeroUrl($data) }" >
                <img src="" class="img-responsive img-rounded" data-bind="attr: { src: 'http://cdn.dota2.com/apps/dota2/images/heroes/' + heroIdentity + '_hphover.png'}" />
            </a>
        </div>
        <!-- /ko -->
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <!-- Padding -->
        </div>
    </div>
</section>