@{
    ViewData["Title"] = "Draft";
}

@section scripts
{
    <script type="text/javascript" src="~/lib/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="~/lib/js-url/url.min.js"></script>
    <script type="text/javascript" src="~/js/live.js" asp-append-version="true"></script>
}

<section data-bind="visible: Loading">

    <div class="text-center">
        <h3>Loading</h3>
        <i class="fa fa-spinner fa-spin fa-5x fa-fw text-info"></i>
    </div>

</section>

<section data-bind="visible: !Loading()">
    <section>
        <div class="row">
            <div class="col-md-2 hidden-sm hidden-xs">
                <!-- ko with: Hero -->
                <h5><span data-bind="text: name"></span> <span class="pull-right text-primary" data-bind="text: primary"></span></h5>
                <img class="img-rounded img-responsive" data-bind="attr: { src: '/images/heroes/' +  identity + '.png'}" />
                <!-- /ko -->

            </div>
            <div class="col-xs-12 col-md-6">
                <h5>Talents</h5>
                <table class="table table-condensed">
                    <!-- ko with: TalenetGrouped -->
                    <tbody data-bind="foreach: Object.keys($data).reverse()">
                        <tr>
                            <td data-bind="text: $parent[$data][0].name, css: $root.getStyleForTalenets($parent[$data][0].key)"></td>
                            <td>
                                <strong data-bind="text: $data"></strong>
                            </td>
                            <td data-bind="text: $parent[$data][1].name, css: $root.getStyleForTalenets($parent[$data][1].key)"></td>
                        </tr>
                    </tbody>
                    <!-- /ko -->
                </table>
            </div>
            <div class="col-md-2 hidden-sm hidden-xs">
                <h5>Best</h5>
                <table class="table table-condensed">
                    <tbody data-bind="foreach: AttributesGood()">
                        <tr>
                            <td width="80px;">
                                <span data-bind="text: name"></span>
                            </td>
                            <td>
                                <div class="progress draft-progress-bar">
                                    <div class="progress-bar" data-bind="style: { 'width': (percentage*100) + '%' }, css: $root.getStyleForHeroStatRanks($data)" role="progressbar"></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2 hidden-sm hidden-xs">
                <h5>Wrost</h5>
                <table class="table table-condensed">
                    <tbody data-bind="foreach: AttributesBad()">
                        <tr>
                            <td width="80px;">
                                <span data-bind="text: name"></span>
                            </td>
                            <td>
                                <div class="progress draft-progress-bar">
                                    <div class="progress-bar" data-bind="style: { 'width': (percentage*100) + '%' }, css: $root.getStyleForHeroStatRanks($data)" role="progressbar"></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <hr />
    </section>

    <section>

        <div class="row">
            <div class="col-sm-12">
                <div class="btn-group" role="group">

                    <a data-bind="click: function() { $root.SelectTrend(1) }, css: $root.getStyleForSelectedTrend(1)" style="color: mediumpurple;" href="" class="btn btn-default">
                        <i class="fa fa-user-plus fa-2x" title="These are abilities that are required by the heroes' talents." aria-hidden="true"></i>
                        <br />
                        <span class="hidden-sm hidden-xs">Talenets</span>
                    </a>

                    <a data-bind="click: function() { $root.SelectTrend(2) }, css: $root.getStyleForSelectedTrend(2)" style="color: yellow;" href="" class="btn btn-default">
                        <i class="fa fa-bolt fa-2x" title="These are abilities that upgrade with the purchase of Aghanim's Scepter." aria-hidden="true"></i>
                        <br />
                        <span class="hidden-sm hidden-xs">Upgrade</span>
                    </a>

                    <a data-bind="click: function() { $root.SelectTrend(9) }, css: $root.getStyleForSelectedTrend(9)" style="color: #2a9fd6;" href="" class="btn btn-default">
                        <i class="fa fa-magic fa-2x" title="" aria-hidden="true"></i>
                        <br />
                        <span class="hidden-sm hidden-xs">Nuke</span>
                        
                    </a>

                    <a data-bind="click: function() { $root.SelectTrend(3) }, css: $root.getStyleForSelectedTrend(3)" style="color: #77b300;" href="" class="btn btn-default">
                        <i class="fa fa-chain-broken fa-2x" title="These are the abilities that stun." aria-hidden="true"></i>
                        <br />
                        <span class="hidden-sm hidden-xs">Stun</span>
                        
                    </a>

                    <a data-bind="click: function() { $root.SelectTrend(6) }, css: $root.getStyleForSelectedTrend(6)" style="color: brown;" href="" class="btn btn-default">
                        <i class="fa fa-ban fa-2x" title="These are the abilities that silence." aria-hidden="true"></i>
                        <br />
                        <span class="hidden-sm hidden-xs">Disable</span>
                        
                    </a>

                    <a data-bind="click: function() { $root.SelectTrend(4) }, css: $root.getStyleForSelectedTrend(4)" style="color: royalblue;" href="" class="btn btn-default">
                        <i class="fa fa-snowflake-o fa-2x" title="These are the abilities that slow." aria-hidden="true"></i>
                        <br />
                        <span class="hidden-sm hidden-xs">Slow</span>
                        
                    </a>

                    <a data-bind="click: function() { $root.SelectTrend(5) }, css: $root.getStyleForSelectedTrend(5)" style="color: green;" href="" class="btn btn-default">
                        <i class="fa fa-paper-plane-o fa-2x" title="These are the abilities that give or reduce speed." aria-hidden="true"></i>
                        <br />
                        <span class="hidden-sm hidden-xs">Speed</span>
                        
                    </a>

                    <a data-bind="click: function() { $root.SelectTrend(11) }, css: $root.getStyleForSelectedTrend(11)" style="color: lightseagreen;" href="" class="btn btn-default">
                        <i class="fa fa-legal fa-2x" title="These are the abilities that turn you into a killer" aria-hidden="true"></i>
                        <br />
                        <span class="hidden-sm hidden-xs">Attack</span>
                        
                    </a>

                    <a data-bind="click: function() { $root.SelectTrend(8) }, css: $root.getStyleForSelectedTrend(8)" style="color: goldenrod;" href="" class="btn btn-default">
                        <i class="fa fa-shield fa-2x" title="These are the abilities that make you harder to kill." aria-hidden="true"></i>
                        <br />
                        <span class="hidden-sm hidden-xs">Tank</span>
                        
                    </a>

                    <a data-bind="click: function() { $root.SelectTrend(7) }, css: $root.getStyleForSelectedTrend(7)" style="color: #cc0000;" href="" class="btn btn-default">
                        <i class="fa fa-heart fa-2x" title="These are the abilities that heal." aria-hidden="true"></i>
                        <br />
                        <span class="hidden-sm hidden-xs">Heal</span>
                    </a>

                    <a data-bind="click: function() { $root.SelectTrend(10) }, css: $root.getStyleForSelectedTrend(10)" style="color:chocolate;" href="" class="btn btn-default">
                        <i class="fa fa-tag fa-2x" title="These are the abilities that make you harder to kill." aria-hidden="true"></i>
                        <br />
                        <span class="hidden-sm hidden-xs">Passive</span>
                    </a>

                </div>
            </div>
        </div>

        <hr />
    </section>

    <section>
        <div class="row" data-bind="foreach: Abilities">
            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1" style="margin-bottom: 20px;">

                <div class="row hidden-sm hidden-xs">
                    <div class="col-lg-12">
                        <i data-bind="click: $root.PickAbility" class="fa fa-check" aria-hidden="true" title="Pick" style="color: grey;"></i>
                        <i data-bind="click: $root.openAbilityDetails" class="fa fa-arrow-circle-up pull-right" aria-hidden="true" title="Taken" style="color: grey;"></i>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <img src="" class="img-responsive img-rounded" data-bind="click: $root.SelectAbility, css: $root.getStyleForSelectedAbility($data), attr: { src: '/images/spellicons/' + identity + '.png', title: name }, style: { filter: 'grayscale(' + $root.getFilterForSelectedTrend($data) + '%)' }" />
                    </div>
                </div>

                <div class="row hidden-sm hidden-xs">
                    <div class="col-lg-12">
                        <div class="progress draft-progress-bar">
                            <div data-bind="style: { width: $root.getWinRateOfSelectForProgress($data) + '%', filter: 'grayscale(' + $root.getFilterForSelectedTrend($data) + '%)' }" class="progress-bar " role="progressbar"></div>
                        </div>
                        <div data-bind="visible: $root.hasFirstPick" class="progress draft-progress-bar">
                            <div data-bind="style: { width: $root.getWinRateOfPick1ForProgress($data) + '%', filter: 'grayscale(' + $root.getFilterForSelectedTrend($data) + '%)' }" class="progress-bar progress-bar-success" role="progressbar"></div>
                        </div>
                        <div data-bind="visible: $root.hasSecondPick" class="progress draft-progress-bar">
                            <div data-bind="style: { width: $root.getWinRateOfPick2ForProgress($data) + '%', filter: 'grayscale(' + $root.getFilterForSelectedTrend($data) + '%)' }" class="progress-bar progress-bar-warning" role="progressbar"></div>
                        </div>
                        <div data-bind="visible: $root.hasThridPick" class="progress draft-progress-bar">
                            <div data-bind="style: { width: $root.getWinRateOfPick3ForProgress($data) + '%', filter: 'grayscale(' + $root.getFilterForSelectedTrend($data) + '%)' }" class="progress-bar progress-bar-info" role="progressbar"></div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="row" data-bind="foreach: Ultimates">
            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">

                <div class="row hidden-sm hidden-xs">
                    <div class="col-lg-12">
                        <i data-bind="click: $root.PickAbility" class="fa fa-check" aria-hidden="true" title="Pick" style="color: grey;"></i>
                        <i data-bind="click: $root.openAbilityDetails" class="fa fa-arrow-circle-up pull-right" aria-hidden="true" title="Taken" style="color: grey;"></i>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <img src="" class="img-responsive img-rounded" data-bind="click: $root.SelectAbility, css: $root.getStyleForSelectedAbility($data), attr: { src: '/images/spellicons/' + identity + '.png', title: name }, style: { filter: 'grayscale(' + $root.getFilterForSelectedTrend($data) + '%)' }" />
                    </div>
                </div>

                <div class="row hidden-sm hidden-xs">
                    <div class="col-lg-12">
                        <div class="progress draft-progress-bar">
                            <div data-bind="style: { 'width': $root.getWinRateOfSelectForProgress($data) + '%', filter: 'grayscale(' + $root.getFilterForSelectedTrend($data) + '%)' }" class="progress-bar" role="progressbar"></div>
                        </div>
                        <div data-bind="visible: $root.hasFirstPick" class="progress draft-progress-bar">
                            <div data-bind="style: { width: $root.getWinRateOfPick1ForProgress($data) + '%', filter: 'grayscale(' + $root.getFilterForSelectedTrend($data) + '%)' }" class="progress-bar progress-bar-success" role="progressbar"></div>
                        </div>
                        <div data-bind="visible: $root.hasSecondPick" class="progress draft-progress-bar">
                            <div data-bind="style: { width: $root.getWinRateOfPick2ForProgress($data) + '%', filter: 'grayscale(' + $root.getFilterForSelectedTrend($data) + '%)' }" class="progress-bar progress-bar-warning" role="progressbar"></div>
                        </div>
                        <div data-bind="visible: $root.hasThridPick" class="progress draft-progress-bar">
                            <div data-bind="style: { width: $root.getWinRateOfPick3ForProgress($data) + '%', filter: 'grayscale(' + $root.getFilterForSelectedTrend($data) + '%)' }" class="progress-bar progress-bar-info" role="progressbar"></div>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>

        <hr />
    </section>

</section>