@{
    ViewData["Title"] = "Draft";
}

@section scripts
{
    <script type="text/javascript" src="~/lib/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="~/lib/js-url/url.min.js"></script>
    <script type="text/javascript" src="~/js/recommendations.js" asp-append-version="true"></script>
}

<section data-bind="visible: Loading">
    <div class="text-center">
        <h3>Loading</h3>
        <i class="fa fa-spinner fa-spin fa-5x fa-fw text-info"></i>
    </div>
</section>

<section class="hidden-xs">
    <section data-bind="visible: !Loading()">
        <div class="row">
            <div class="col-xs-6 col-md-2">
                <!-- ko with: Hero -->
                <h5 data-bind="text: name"></h5>
                <img class="img-rounded img-responsive" data-bind="attr: { src: 'http://cdn.dota2.com/apps/dota2/images/heroes/' +  identity + '_full.png'}" />
                <!-- /ko -->

            </div>
            <div class="col-xs-6 col-md-6">
                <h5>Talents</h5>
                <table class="table table-condensed">
                    <!-- ko with: TalenetGrouped -->
                    <tbody data-bind="foreach: Object.keys($data).reverse()">
                        <tr>
                            <td data-bind="text: $parent[$data][0].name"></td>
                            <td class="text-primary" data-bind="text: $data"></td>
                            <td data-bind="text: $parent[$data][1].name"></td>
                        </tr>
                    </tbody>
                    <!-- /ko -->
                </table>
            </div>
            <div class="col-xs-6 col-md-2">
                <h5>Best</h5>
                <table class="table table-condensed">
                    <tbody data-bind="foreach: AttributesGood()">
                        <tr>
                            <td width="80px;">
                                <span data-bind="text: name"></span>
                            </td>
                            <td>
                                <div class="progress draft-progress-bar">
                                    <div class="progress-bar" data-bind="style: { 'width': (percentage*100) + '%' }, css: $root.getStyleForHeroStatRanks($data)" role="progressbar"></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-6 col-md-2">
                <h5>Wrost</h5>
                <table class="table table-condensed">
                    <tbody data-bind="foreach: AttributesBad()">
                        <tr>
                            <td width="80px;">
                                <span data-bind="text: name"></span>
                            </td>
                            <td>
                                <div class="progress draft-progress-bar">
                                    <div class="progress-bar" data-bind="style: { 'width': (percentage*100) + '%' }, css: $root.getStyleForHeroStatRanks($data)" role="progressbar"></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <hr />
    </section>

    <section data-bind="visible: !Loading()">
        <div class="row" data-bind="foreach: Abilities">
            <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1" style="margin-bottom: 40px;">
                <div class="row ability-badges">
                    <div data-bind="visible: $root.SelectedAbility()" class="col-lg-12">
                        <i data-bind="visible: $root.hasTalents($data)" class="fa fa-user-plus" aria-hidden="true" title="Talent Dependant" style="color: grey;"></i>
                        <i data-bind="visible: $root.isUpgradable($data)" class="fa fa-bolt" aria-hidden="true" title="Upgradable" style="color: grey;"></i>
                        <i data-bind="visible: $root.isLeastPicked($data)" class="fa fa-thermometer-quarter" aria-hidden="true" title="Least Picked" style="color: grey;"></i>
                        <i data-bind="visible: $root.isMostPicked($data) && !$root.isFlaged($data)" class="fa fa-fire" aria-hidden="true" title="Most Picked" style="color:grey;"></i>
                        <i data-bind="visible: $root.isMostWins($data) && !$root.isFlaged($data)" class="fa fa-trophy" aria-hidden="true" title="Most Wins" style="color:grey;"></i>
                        <i data-bind="visible: $root.isMostKills($data) && !$root.isFlaged($data)" class="fa fa-crosshairs" aria-hidden="true" title="Most Kills" style="color:grey;"></i>
                        <i data-bind="visible: $root.isFlaged($data)" class="fa fa-star" aria-hidden="true" title="Most Picked, Most Wins, & Most Kills" style="color:grey;"></i>
                        <i data-bind="visible: $root.isLinked($data)" class="fa fa-superpowers" aria-hidden="true" title="Most Combed" style="color:grey;"></i>
                    </div>
                    <div data-bind="visible: !$root.SelectedAbility()" class="col-lg-12">
                        <i data-bind="visible: $root.hasTalents($data)" class="fa fa-user-plus" aria-hidden="true" title="Talent Dependant" style="color: purple;"></i>
                        <i data-bind="visible: $root.isUpgradable($data)" class="fa fa-bolt" aria-hidden="true" title="Upgradable" style="color: yellow;"></i>
                        <i data-bind="visible: $root.isLeastPicked($data)" class="fa fa-thermometer-quarter" aria-hidden="true" title="Least Picked" style="color: cornflowerblue;"></i>
                        <i data-bind="visible: $root.isMostPicked($data) && !$root.isFlaged($data)" class="fa fa-fire" aria-hidden="true" title="Most Picked" style="color:orangered;"></i>
                        <i data-bind="visible: $root.isMostWins($data) && !$root.isFlaged($data)" class="fa fa-trophy" aria-hidden="true" title="Most Wins" style="color:goldenrod;"></i>
                        <i data-bind="visible: $root.isMostKills($data) && !$root.isFlaged($data)" class="fa fa-crosshairs" aria-hidden="true" title="Most Kills" style="color:darkred;"></i>
                        <i data-bind="visible: $root.isFlaged($data)" class="fa fa-star" aria-hidden="true" title="Most Picked, Most Wins, & Most Kills" style="color:white;"></i>
                        <i data-bind="visible: $root.isLinked($data)" class="fa fa-superpowers" aria-hidden="true" title="Most Combed" style="color:lime;"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <img src="" class="img-responsive img-rounded" data-bind="click: $root.SelectAbility, css: $root.getStyleForSelectedAbility($data), attr: { src: 'http://cdn.dota2.com/apps/dota2/images/abilities/' + identity + '_hp1.png', title: name, style: 'filter: grayscale(' + $root.getSelectedFilter($data) + '%);'}" />
                    </div>
                </div>

                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="progress draft-progress-bar">
                            <div class="progress-bar progress-bar-striped " data-bind="style: { 'width': $root.getSelectedProgress($data) + '%' }" role="progressbar"></div>
                        </div>
                    </div>
                </div>
                


            </div>
        </div>

        <div class="row" data-bind="foreach: Ultimates">
            <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
                <div class="row ability-badges">
                    <div data-bind="visible: $root.SelectedAbility()" class="col-lg-12">
                        <i data-bind="visible: $root.hasTalents($data)" class="fa fa-user-plus" aria-hidden="true" title="Talent Dependant" style="color: grey;"></i>
                        <i data-bind="visible: $root.isUpgradable($data)" class="fa fa-bolt" aria-hidden="true" title="Upgradable" style="color: grey;"></i>
                        <i data-bind="visible: $root.isLeastPicked($data)" class="fa fa-thermometer-quarter" aria-hidden="true" title="Least Picked" style="color: grey;"></i>
                        <i data-bind="visible: $root.isMostPicked($data) && !$root.isFlaged($data)" class="fa fa-fire" aria-hidden="true" title="Most Picked" style="color:grey;"></i>
                        <i data-bind="visible: $root.isMostWins($data) && !$root.isFlaged($data)" class="fa fa-trophy" aria-hidden="true" title="Most Wins" style="color:grey;"></i>
                        <i data-bind="visible: $root.isMostKills($data) && !$root.isFlaged($data)" class="fa fa-crosshairs" aria-hidden="true" title="Most Kills" style="color:grey;"></i>
                        <i data-bind="visible: $root.isFlaged($data)" class="fa fa-star" aria-hidden="true" title="Most Picked, Most Wins, & Most Kills" style="color:grey;"></i>
                        <i data-bind="visible: $root.isLinked($data)" class="fa fa-superpowers" aria-hidden="true" title="Most Combed" style="color:grey;"></i>
                    </div>
                    <div data-bind="visible: !$root.SelectedAbility()" class="col-lg-12">
                        <i data-bind="visible: $root.hasTalents($data)" class="fa fa-user-plus" aria-hidden="true" title="Talent Dependant" style="color: purple;"></i>
                        <i data-bind="visible: $root.isUpgradable($data)" class="fa fa-bolt" aria-hidden="true" title="Upgradable" style="color: yellow;"></i>
                        <i data-bind="visible: $root.isLeastPicked($data)" class="fa fa-thermometer-quarter" aria-hidden="true" title="Least Picked" style="color: cornflowerblue;"></i>
                        <i data-bind="visible: $root.isMostPicked($data) && !$root.isFlaged($data)" class="fa fa-fire" aria-hidden="true" title="Most Picked" style="color:orangered;"></i>
                        <i data-bind="visible: $root.isMostWins($data) && !$root.isFlaged($data)" class="fa fa-trophy" aria-hidden="true" title="Most Wins" style="color:goldenrod;"></i>
                        <i data-bind="visible: $root.isMostKills($data) && !$root.isFlaged($data)" class="fa fa-crosshairs" aria-hidden="true" title="Most Kills" style="color:darkred;"></i>
                        <i data-bind="visible: $root.isFlaged($data)" class="fa fa-star" aria-hidden="true" title="Most Picked, Most Wins, & Most Kills" style="color:white;"></i>
                        <i data-bind="visible: $root.isLinked($data)" class="fa fa-superpowers" aria-hidden="true" title="Most Combed" style="color:lime;"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <img src="" class="img-responsive img-rounded" data-bind="click: $root.SelectAbility, css: $root.getStyleForSelectedAbility($data), attr: { src: 'http://cdn.dota2.com/apps/dota2/images/abilities/' + identity + '_hp1.png', title: name, style: 'filter: grayscale(' + $root.getSelectedFilter($data) + '%);'}" />
                    </div>
                </div>

                 
                <div class="row">
                    <div class="col-lg-12">
                        <div class="progress draft-progress-bar">
                            <div class="progress-bar progress-bar-striped " data-bind="style: { 'width': $root.getSelectedProgress($data) + '%' }" role="progressbar"></div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <hr />

    </section>

    <section data-bind="visible: !Loading()">
        <div class="row">
            <div class="col-sm-6">
                <i class="fa fa-user-plus fa-2x" aria-hidden="true" title="Talent Dependant" style="color: purple;"></i>  Talent Dependant
                <p>These are abilities that are required by the heroes' talents.</p>
            </div>
            <div class="col-sm-6">
                <i class="fa fa-bolt fa-2x" aria-hidden="true" title="Upgradable" style="color: yellow;"></i>  Aghanim's Upgrade
                <p>These are abilities that upgrade with the purchase of Aghanim's Scepter.</p>
            </div>
            <div class="col-sm-6">
                <i class="fa fa-fire fa-2x" aria-hidden="true" title="Most Picked" style="color: orangered;"></i>  Most Picked
                <p>These are the most picked abilities from those in the pool.</p>
            </div>
            <div class="col-sm-6">
                <i class="fa fa-thermometer-quarter fa-2x" aria-hidden="true" title="Least Picked" style="color: cornflowerblue;"></i>  Least Picked
                <p>These are the least picked abilities from those in the pool.</p>
            </div>
            <div class="col-sm-6">
                <i class="fa fa-trophy fa-2x" aria-hidden="true" title="Most Wins" style="color:goldenrod;"></i>  Most Wins
                <p>These are the abilities with the most wins.</p>
            </div>
            <div class="col-sm-6">
                <i class="fa fa-crosshairs fa-2x" aria-hidden="true" title="Most Kills" style="color:darkred;"></i>  Most Deadly
                <p>These are the abilities with the most kills.</p>
            </div>
            <div class="col-sm-6">
                <i class="fa fa-superpowers fa-2x" aria-hidden="true" title="Most Combed" style="color:lime;"></i>  Most Combed
                <p>These are the abilities at have the most wins when paired with other abilties.</p>
            </div>
            <div class="col-sm-6">
                <i class="fa fa-star fa-2x" aria-hidden="true" title="Most Picked, Most Wins, & Most Kills" style="color:white;"></i>  All Star
                <p>These are the abilities at have Most Picked, Most Wins, & Most Kills.</p>
            </div>
            @*
                <div class="col-sm-6">
                    <i class="fa fa-link" aria-hidden="true" title="Recommended For Self" style="color: green;"></i>  Recommended For Self
                    <p>These are the abilities that pair well with your current selected abilties.</p>
                </div>
                <div class="col-sm-6">
                    <i class="fa fa-sitemap" aria-hidden="true" title="Recommended For Team" style="color: cornflowerblue;"></i>  Recommended For Team
                    <p>These are the abilities that pair well with your team current selected abilties.</p>
                </div>
                <div class="col-sm-6">
                    <i class="fa fa-exclamation" aria-hidden="true" title="Deny Enemy Team" style="color: darkred;"></i>  Deny Enemy Team
                    <p>These are the abilities that you do not want you enmemies to get.</p>
                </div>
            *@
        </div>

        <hr />
    </section>

</section>

<section class="visible-xs">
    <div class="alert alert-warning" role="alert">
        <h5>Warning!</h5> Drafting on mobile is not the best experience. We are exploring other options that work better for mobile devices.
    </div>
</section>