@{
    ViewData["Title"] = "Error";
}

<br />

<img src="~/images/mascot/HGV-Mascot-2.png" class="pull-left" />

<h1 class="text-danger">Error!</h1>
<h5 class="text-warning">An error occurred while processing your request.</h5>

<div class="clearfix"></div>