@{
    ViewData["Title"] = "Forbidden";
}

<br />

<img src="~/images/mascot/HGV-Mascot-2.png" class="pull-left" />

<h1 class="text-danger">Forbidden <small>403</small></h1>
<h5 class="text-warning">This page is hidden, turn around and go back.</h5>

<div class="clearfix"></div>