@{
    ViewData["Title"] = "Locked out";
}

<br />

<img src="~/images/mascot/HGV-Mascot-2.png" class="pull-left" />

<h1 class="text-danger">Locked out</h1>
<h5 class="text-warning">This account has been locked out, please try again later.</h5>

<div class="clearfix"></div>