@{
    ViewData["Title"] = "Error";
}

<br />

<img src="~/images/mascot/HGV-Mascot-2.png" class="pull-left" />

<h1 class="text-danger">Lost Page <small>404</small></h1>
<h5 class="text-warning">We have looked everywhere and we can't find it either.</h5>

<div class="clearfix"></div>