@{
    ViewData["Title"] = "Error";
}

<br />

<div class="row">
    <div class="col-sm-2">
        <img src="~/images/characters/cluckles.png" class="img-responsive" />
        <div class="alert alert-info text-center">
            <strong>Hi, Iam Cluckles!</strong><br />
        </div>
    </div>
    <div class="col-sm-10">
        <h1 class="text-danger">Lost Page <small>404</small></h1>
        <h5 class="text-warning">We have looked everywhere and we can't find it either.</h5>
    </div>
</div>

<div class="clearfix"></div>