.body-app {
  font-family: /*'Gugi',*/ Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background: url("~/static/images/bg-left.png") left top / 50% no-repeat, url("~/static/images/bg-right.png") right top / 50% no-repeat, black;
}
.opaque-background {
    border-radius: 10px;
    padding-left: 10px;
    background-color: #0B1425;
    margin: 10px;
    padding: 10px;
}
.ability-icon {
    box-shadow: 5px 4px #000000;
}
.ability-icon-lg {
  height: 64px;
  width: 64px;
}
.ability-icon-sm {
  height: 33px;
  width: 33px;
}