@{
    ViewData["Title"] = "About";
}

<h2>@ViewBag.Title</h2>


<div class="row">
    <div class="col-md-6">
        <h4>What is HGV?</h4>

        <p>HGV-AD is a volunteer-developed, open source platform providing Dota2 Hero And Ability Statics for Ability Draft Games.</p>

        <h4>Where is my data?</h4>

        <p>
            Data is collected through the Steam WebAPI. 
            Not all game are analysed and added to the database, matches must meet a few basic requirements to be considered.
        </p>

        <h4>How do you keep the site running?</h4>

        <p>
            This started as a side project of a couple of dota fans and it still operates that way.
            We don’t intend to make any money from it, although we try to at least break even on the server bills.
            We’re also happy to share our knowledge with the community open sourcing our stack.
        </p>

        <p>
            Development is done by volunteers contributing in their free time, so we don’t have employees.
            Donations from users and corporate sponsorships pay for servers.
        </p>

        <h4>Who maintains the project?</h4>

        <p>Development is done by community members, and is open to anyone who’s interested.</p>
        <ul>
            <li>
                <a href="http://steamcommunity.com/id/RGBKnights/">Web Star</a>
            </li>
            <li>
                <a href="http://steamcommunity.com/id/CanadianChicken/">CanadianChicken</a>
            </li>
            <li>
                <a href="http://steamcommunity.com/id/Grammer/">Grammer</a>
            </li>
        </ul>

        <h4>Can I use your code in my own project?</h4>

        <p>The code is licensed under the The MIT License (MIT). This means you are free to use it in your own project. We would also appreciate a credit/attribution in your project if you use our code. </p>

        <h4>Reach Out</h4>

        <p>Reach out to us on Twitter. Having Isues? Did an ability get patched or buged that we should know about. Find a great combo. We want to hear form you!</p>
    </div>
    <div class="col-md-6">
        <a class="twitter-timeline" data-theme="dark" data-link-color="#2B7BB9" href="https://twitter.com/DotaHGV">Tweets by DotaHGV</a>
    </div>
</div>


@section scripts
{
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
}