@{
    ViewData["Title"] = "Guide";
}

<h3>@ViewBag.Title</h3>

<div class="row">
    <div class="col-md-12">
        <h4>Introduction</h4>
        <p>
            Ability Draft is my favorite mode in DOTA because it’s like a playing a brand new set of heroes every game and it requires players to be creative to be successful.
            Alot of people treat it like a joke mode, especially when it becomes apparent that their builds suck, which is annoying because I assume that if you’re playing a competitive game like DOTA in the first place, you probably want to win.
            If you want to win, you should take any mode in any game seriously.
            With that in mind, I decided to write a guide for those that care.
            I’m not a master of this mode or anything but I’ve got 1000+ games of Ability Draft played, so there are definitely things I’ve learned that I can point out for people who like the mode but feel a little lost or just can't seem to draft a good build.
        </p>

        <h4>How to Play</h4>

        <p>
            Play a hero with four abilities selected from a random pool of abilities.
            Players are given a random hero from Ability-Draft enabled heroes. Each players' abilities are put into a pool.
            Players take turns selecting abilities from the pool, given five seconds for each choice.
            Each player selects three normal abilities and one ultimate.
        </p>

        <h4>Pre-Draft Rituals</h4>

        <p>
            As soon as the game loads, quickly identity your hero, identify your hero’s main stat (int / agi / str), and then start scanning the abilities for good fits.
            If you don’t know the hero’s stat, tab out and look up the hero in our database and find the hero and select its name to view its details.
            The entire time you’re drafting, don’t just focus on the one ability you’re going to pick. Someone will usually take it and then you’ll be panicking.
            Make sure to have 2-3 backup abilities in mind for each pick just in case this happens.
        </p>

        <h4>Your Base Stat Is Important</h4>

        <p>
            Generally, if you’re int then you want to build spells, strength can be offensive or annoyingly defensive, and agility should be offensive.
            There are exceptions to this rule, but unless you can get Fury Swipes (Ursa), Focus Fire (Windranger), Glaives of Wisdom (Silencer), Arcane Orb (Outworld Devourer) or Overpower (Ursa), then building right click abilities on Int heroes tends to be a really bad idea.
            The same goes for building heavily mana dependent spells on strength or agility (except for stuns). The latter can work but it’s extremely item dependent.
            I’ve seen some wacky shit work but if you break this rule, chances are your build is going to suck nine times out of ten.
        </p>

        <h4>Balancing Your Build</h4>

        <p>
            This is the primary reason people don’t have fun in Ability Draft. You can’t just draft anything that peaks your interest, if none of your abilities synergize with each other.
            When I begin a draft, I go in with a very basic plan.
            Draft your core ability first  and then draft around that ability.
            Make sure that you draft an offensive ability, defensive ability, a disable, and an initiating ability.
            If you’re a melee hero, it doesn’t matter how strong you are if you can’t catch up to your target or stay on them.
            If you’re a ranged hero, it doesn’t matter how strong you are if you’re squishy with no way to create space for yourself.
            If you can’t get a good core ability because you’re super late in the draft or one just isn’t available then just draft stuns and disables.
            You can never go wrong with stuns and disables.
            Also, it’s almost never a good idea to draft all passives.
            There are exceptions to this rule of course, but in general don’t do it – especially on melee heroes.
            Ability Draft games tend to be short, so it’s usually not a great idea to build an melee carry that won’t get off the ground for 45 minutes because you’ve got nothing but passives and no way to secure kills.
        </p>
    </div>
</div>

@section scripts
{
    <environment names="Development">
        <link rel="stylesheet" href="~/css/landing-page.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/landing-page.min.css" asp-append-version="true" />
    </environment>
}