
@{
    ViewBag.Title = "Illusions";
}

<h3>@ViewBag.Title</h3>
<h5>There are some helpful things to get you started.</h5>

<hr />

<div class="row">

    <div class="col-md-6">
        <h3>Creating Illusion</h3>

        <div class="row">
            <div class="col-md-6">
                <h5>Abilities</h5>
                <ul class="list-unstyled">
                    <li>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/chaos_knight_phantasm_hp1.png" width="30" height="30" /> Chaos Knight - Phantasm
                    </li>
                    <li>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/dark_seer_wall_of_replica_hp1.png" width="30" height="30" /> Dark Seer - Wall of Replica
                    </li>
                    <li>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/naga_siren_mirror_image_hp1.png" width="30" height="30" /> Naga Siren - Mirror Image
                    </li>
                    <li>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/phantom_lancer_doppelwalk_hp1.png" width="30" height="30" /> Phantom Lancer - Doppelganger
                    </li>
                    <li>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/phantom_lancer_juxtapose_hp1.png" width="30" height="30" /> Phantom Lancer - Juxtapose
                    </li>
                    <li>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/phantom_lancer_spirit_lance_hp1.png" width="30" height="30" /> Phantom Lancer - Spirit Lance
                    </li>
                    <li>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/terrorblade_conjure_image_hp1.png" width="30" height="30" /> Terrorblade - Conjure Image
                    </li>
                    <li>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/terrorblade_reflection_hp1.png" width="30" height="30" /> Terrorblade - Reflection
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h5>Items</h5>
                <ul class="list-unstyled">
                    <li>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/manta_lg.png" width="40" height="30" /> Manta Style - Mirror Image
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <h3>Instantly kills illusions</h3>

        <div class="row">
            <div class="col-md-6">
                <h5>Abilities</h5>
                <ul class="list-unstyled">
                    <li>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/disruptor_glimpse_hp1.png" width="30" height="30" /> Disruptor - Glimpse
                    </li>
                    <li>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/lion_voodoo_hp1.png" width="30" height="30" /> Lion - Hex
                    </li>
                    <li>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/lion_mana_drain_hp1.png" width="30" height="30" /> Lion - Mana Drain
                    </li>
                    <li>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/medusa_stone_gaze_hp1.png" width="30" height="30" /> Medusa - Stone Gaze
                    </li>
                    <li>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/pugna_life_drain_hp1.png" width="30" height="30" /> Pugna - Life Drain
                    </li>
                    <li>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/shadow_shaman_voodoo_hp1.png" width="30" height="30" /> Shadow Shaman - Hex
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h5>Items</h5>
                <ul class="list-unstyled">
                    <li>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/sheepstick_lg.png" width="40" height="30" /> Scythe of Vyse - Hex
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

<hr />

<h3>Works with Illusions</h3>

 <div class="row">
    <div class="col-md-6">
        <h5>Abilities</h5>

        <table id="tblWorkingAbilities" class="table table-condensed" >
            <thead>
                <tr>
                    <th>Icon</th>
                    <th>Hero</th>
                    <th>Ability</th>
                    <th>Effect</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/enchantress_untouchable_hp1.png" width="30" height="30" /> 
                    </td>
                    <td>Enchantress</td>
                    <td>Untouchable</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/legion_commander_press_the_attack_hp1.png" width="30" height="30" />
                    </td>
                    <td>Legion Commander</td>
                    <td>Press the Attack</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/lycan_feral_impulse_hp1.png" width="30" height="30" /> 
                    </td>
                    <td>Lycan</td>
                    <td>Feral Impulse</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/mirana_leap_hp1.png" width="30" height="30" />
                    </td>
                    <td>Mirana</td>
                    <td>Leap</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/omniknight_degen_aura_hp1.png" width="30" height="30" />
                    </td>
                    <td>Omniknight</td>
                    <td>Degen Aura</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/sandking_epicenter_hp1.png" width="30" height="30" />
                    </td>
                    <td>Sand King</td>
                    <td>Epicenter</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/terrorblade_reflection_hp1.png" width="30" height="30" />
                    </td>
                    <td>Terrorblade</td>
                    <td>Reflection</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/tiny_grow_hp1.png" width="30" height="30" />
                    </td>
                    <td>Tiny</td>
                    <td>Grow</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/skeleton_king_reincarnation_hp1.png" width="30" height="30" />
                    </td>
                    <td>Wraith King</td>
                    <td>Reincarnation</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/antimage_spell_shield_hp1.png" width="30" height="30" />
                    </td>
                    <td>Anti-Mage</td>
                    <td>Spell Shield</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/oracle_fates_edict_hp1.png" width="30" height="30" />
                    </td>
                    <td>Oracle</td>
                    <td>Fate's Edict</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/pudge_flesh_heap_hp1.png" width="30" height="30" />
                    </td>
                    <td>Pudge</td>
                    <td>Flesh Heap</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/viper_corrosive_skin_hp1.png" width="30" height="30" />
                    </td>
                    <td>Viper</td>
                    <td>Corrosive Skin</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/alchemist_chemical_rage_hp1.png" width="30" height="30" />
                    </td>
                    <td>Alchemist</td>
                    <td>Chemical Rage</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/dragon_knight_elder_dragon_form_hp1.png" width="30" height="30" />
                    </td>
                    <td>Dragon Knight</td>
                    <td>Elder Dragon Form</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/medusa_split_shot_hp1.png" width="30" height="30" />
                    </td>
                    <td>Medusa</td>
                    <td>Split Shot</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/terrorblade_metamorphosis_hp1.png" width="30" height="30" />
                    </td>
                    <td>Terrorblade</td>
                    <td>Metamorphosis</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/undying_flesh_golem_hp1.png" width="30" height="30" />
                    </td>
                    <td>Undying</td>
                    <td>Flesh Golem</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/antimage_mana_break_hp1.png" width="30" height="30" />
                    </td>
                    <td>Anti-Mage</td>
                    <td>Mana Break</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/brewmaster_drunken_brawler_hp1.png" width="30" height="30" />
                    </td>
                    <td>Brewmaster</td>
                    <td>Drunken Brawler Critical Strike</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/broodmother_incapacitating_bite_hp1.png" width="30" height="30" /> 
                    </td>
                    <td>Broodmother</td>
                    <td>Incapacitating Bite</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/broodmother_insatiable_hunger_hp1.png" width="30" height="30" />
                    </td>
                    <td>Broodmother</td>
                    <td>Insatiable Hunger</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/chaos_knight_chaos_strike_hp1.png" width="30" height="30" />
                    </td>
                    <td>Chaos Knight</td>
                    <td>Chaos Strike</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/drow_ranger_marksmanship_hp1.png" width="30" height="30" />
                    </td>
                    <td>Drow Ranger</td>
                    <td>Marksmanship</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/juggernaut_blade_dance_hp1.png" width="30" height="30" />
                    </td>
                    <td>Juggernaut</td>
                    <td>Blade Dance</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/legion_commander_moment_of_courage_hp1.png" width="30" height="30" />
                    </td>
                    <td>Legion Commander</td>
                    <td>Moment of Courage</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/luna_moon_glaive_hp1.png" width="30" height="30" />
                    </td>
                    <td>Luna</td>
                    <td>Moon Glaive</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/lycan_shapeshift_hp1.png" width="30" height="30" /> 
                    </td>
                    <td>Lycan</td>
                    <td>Shapeshift Critical Strike</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/phantom_assassin_coup_de_grace_hp1.png" width="30" height="30" />
                    </td>
                    <td>Phantom Assassin</td>
                    <td>Coup de Grace</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/phantom_lancer_juxtapose_hp1.png" width="30" height="30" />
                    </td>
                    <td>Phantom Lancer </td>
                    <td>Juxtapose</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/venomancer_poison_sting_hp1.png" width="30" height="30" />
                    </td>
                    <td>Venomancer</td>
                    <td>Poison Sting</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/skeleton_king_mortal_strike_hp1.png" width="30" height="30" />
                    </td>
                    <td>Wraith King</td>
                    <td>Mortal Strike</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/axe_counter_helix_hp1.png" width="30" height="30" />
                    </td>
                    <td>Axe</td>
                    <td>Counter Helix</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/bristleback_warpath_hp1.png" width="30" height="30" />
                    </td>
                    <td>Bristleback</td>
                    <td>Warpath</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/centaur_return_hp1.png" width="30" height="30" />
                    </td>
                    <td>Centaur Warrunner</td>
                    <td>Return</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/dragon_knight_dragon_blood_hp1.png" width="30" height="30" />
                    </td>
                    <td>Dragon Knight</td>
                    <td>Dragon Blood</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/earthshaker_aftershock_hp1.png" width="30" height="30" />
                    </td>
                    <td>Earthshaker</td>
                    <td>Aftershock</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/faceless_void_chronosphere_hp1.png" width="30" height="30" />
                    </td>
                    <td>Faceless Void</td>
                    <td>Innate Chronosphere Immunity</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/huskar_berserkers_blood_hp1.png" width="30" height="30" />
                    </td>
                    <td>Huskar</td>
                    <td>Berserker's Blood</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/lina_fiery_soul_hp1.png" width="30" height="30" />
                    </td>
                    <td>Lina</td>
                    <td>Fiery Soul</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/necrolyte_sadist_hp1.png" width="30" height="30" />
                    </td>
                    <td>Necrophos</td>
                    <td>Sadist</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/night_stalker_hunter_in_the_night_hp1.png" width="30" height="30" />
                    </td>
                    <td>Night Stalker</td>
                    <td>Hunter in the Night</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/phantom_assassin_blur_hp1.png" width="30" height="30" />
                    </td>
                    <td>Phantom Assassin</td>
                    <td>Blur</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/phantom_lancer_phantom_edge_hp1.png" width="30" height="30" />
                    </td>
                    <td>Phantom Lancer</td>
                    <td>Phantom Rush</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/razor_unstable_current_hp1.png" width="30" height="30" /> 
                    </td>
                    <td>Razor</td>
                    <td>Unstable Current</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/storm_spirit_overload_hp1.png" width="30" height="30" />
                    </td>
                    <td>Storm Spirit</td>
                    <td>Overload</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/visage_gravekeepers_cloak_hp1.png" width="30" height="30" />
                    </td>
                    <td>Visage</td>
                    <td>Gravekeeper's Cloak</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/crystal_maiden_brilliance_aura_hp1.png" width="30" height="30" />
                    </td>
                    <td>Crystal Maiden</td>
                    <td>Arcane Aura</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/elder_titan_natural_order_hp1.png" width="30" height="30" /> 
                    </td>
                    <td>Elder Titan</td>
                    <td>Natural Order</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/luna_lunar_blessing_hp1.png" width="30" height="30" />
                    </td>
                    <td>Luna</td>
                    <td>Lunar Blessing</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/magnataur_empower_hp1.png" width="30" height="30" /> 
                    </td>
                    <td>Magnus</td>
                    <td>Empower Aura</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/spirit_breaker_empowering_haste_hp1.png" width="30" height="30" /> 
                    </td>
                    <td>Spirit Breaker</td>
                    <td>Empowering Haste</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/vengefulspirit_command_aura_hp1.png" width="30" height="30" />
                    </td>
                    <td>Vengeful Spirit</td>
                    <td>Vengeance Aura</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/skeleton_king_vampiric_aura_hp1.png" width="30" height="30" /> 
                    </td>
                    <td>Wraith King</td>
                    <td>Vampiric Aura</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/undying_flesh_golem_hp1.png" width="30" height="30" />
                    </td>
                    <td>Undying</td>
                    <td>Plague Aura</td>
                    <td></td>
                </tr>

            </tbody>
        </table>

    </div>
    <div class="col-md-6">
        <h5>Items</h5>

        <table id="tblWorkingItems" class="table table-condensed">
            <thead>
                <tr>
                    <th>Icon</th>
                    <th>Item</th>
                    <th>Effect</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/ancient_janggo_lg.png" width="40" height="30" />
                    </td>
                    <td>Drum of Endurance</td>
                    <td>Swiftness Aura</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/shivas_guard_lg.png" width="40" height="30" />
                    </td>
                    <td>Shiva's Guard</td>
                    <td>Freezing Aura</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/armlet_lg.png" width="40" height="30" />
                    </td>
                    <td>Armlet of Mordiggian</td>
                    <td>Unholy Strengh</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/quelling_blade_lg.png" width="40" height="30" />
                    </td>
                    <td>Quelling Blade</td>
                    <td>Quel</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/iron_talon_lg.png" width="40" height="30" />
                    </td>
                    <td>Iron Talon</td>
                    <td>Quel</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/bfury_lg.png" width="40" height="30" />
                    </td>
                    <td>Battle Fury</td>
                    <td>Quel</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/lesser_crit_lg.png" width="40" height="30" />
                    </td>
                    <td>Crystalys</td>
                    <td>Critical Strike</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/greater_crit_lg.png" width="40" height="30" />
                    </td>
                    <td>Daedalus</td>
                    <td>Critical Strike</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/diffusal_blade_lg.png" width="40" height="30" /> 
                    </td>
                    <td>Diffusal Blade</td>
                    <td>Manabreak</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/orb_of_venom_lg.png" width="40" height="30" />
                    </td>
                    <td>Orb of Venom</td>
                    <td>Poison Attack</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/abyssal_blade_lg.png" width="40" height="30" /> 
                    </td>
                    <td>Abyssal Blade</td>
                    <td>Damage Block</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/aether_lens_lg.png" width="40" height="30" />
                    </td>
                    <td>Aether Lens</td>
                    <td>Spell Range Bonus</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/crimson_guard_lg.png" width="40" height="30" />
                    </td>
                    <td>Crimson Guard</td>
                    <td>Damage Block</td>
                </tr>
                <!--
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/octarine_core_lg.png" width="40" height="30" />
                    </td>
                    <td>Octarine Core</td>
                    <td>Cooldown Reduction</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/octarine_core_lg.png" width="40" height="30" />
                    </td>
                    <td>Octarine Core</td>
                    <td>Spell Lifesteal</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/poor_mans_shield_lg.png" width="40" height="30" /> Poor Man's Shield - Damage Block
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                -->
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/stout_shield_lg.png" width="40" height="30" />
                    </td>
                    <td>Stout Shield</td>
                    <td>Damage Block</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/vanguard_lg.png" width="40" height="30" />
                    </td>
                    <td>Vanguard</td>
                    <td>Damage Block</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/assault_lg.png" width="40" height="30" />
                    </td>
                    <td>Assault Cuirass</td>
                    <td>Assault Aura</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/ancient_janggo_lg.png" width="40" height="30" />
                    </td>
                    <td>Drum of Endurance</td>
                    <td>Swiftness Aura</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/gem_lg.png" width="40" height="30" />
                    </td>
                    <td>Gem of True Sight</td>
                    <td>True Sight</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/guardian_greaves_lg.png" width="40" height="30" />
                    </td>
                    <td>Guardian Greaves</td>
                    <td>Guardian Aura</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/headdress_lg.png" width="40" height="30" />
                    </td>
                    <td>Headdress</td>
                    <td>Regeneration Aura</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/mekansm_lg.png" width="40" height="30" />
                    </td>
                    <td>Mekansm</td>
                    <td>Mekansm Aura</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/pipe_lg.png" width="40" height="30" />
                    </td>
                    <td>Pipe of Insight</td>
                    <td>Insight Aura</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/radiance_lg.png" width="40" height="30" />
                    </td>
                    <td>Radiance</td>
                    <td>Burn</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/ring_of_aquila_lg.png" width="40" height="30" />
                    </td>
                    <td>Ring of Aquila</td>
                    <td>Aquila Aura</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/ring_of_basilius_lg.png" width="40" height="30" />
                    </td>
                    <td>Ring of Basilius</td>
                    <td>Basilius Aura</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/shivas_guard_lg.png" width="40" height="30" /> 
                    </td>
                    <td>Shiva's Guard</td>
                    <td>Freezing Aura</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/vladmir_lg.png" width="40" height="30" />
                    </td>
                    <td>Vladmir's Offering</td>
                    <td>Vladmir's Aura</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblWorkingAbilities').DataTable({
                "info": false,
                "pagingType": "simple",
            });

            $('#tblWorkingItems').DataTable({
                "info": false,
                "pagingType": "simple",
            });
        });
    </script>
}