
@{
    ViewBag.Title = "Illusions";
}

<h3>@ViewBag.Title</h3>
<h5>There are some helpful things to get you started.</h5>

<hr />

<div class="row">

    <div class="col-md-6">
        <h3>Creating Illusion</h3>

        <div class="row">
            <div class="col-md-6">
                <h5>Abilities</h5>
                <ul class="list-unstyled">
                    <li>
                        <a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5429" >
                            <img src="http://cdn.dota2.com/apps/dota2/images/abilities/chaos_knight_phantasm_hp1.png" width="30" height="30" /> Chaos Knight - Phantasm
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5258">
                            <img src="http://cdn.dota2.com/apps/dota2/images/abilities/dark_seer_wall_of_replica_hp1.png" width="30" height="30" /> Dark Seer - Wall of Replica
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5467">
                            <img src="http://cdn.dota2.com/apps/dota2/images/abilities/naga_siren_mirror_image_hp1.png" width="30" height="30" /> Naga Siren - Mirror Image
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5066">
                            <img src="http://cdn.dota2.com/apps/dota2/images/abilities/phantom_lancer_doppelwalk_hp1.png" width="30" height="30" /> Phantom Lancer - Doppelganger
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5067">
                            <img src="http://cdn.dota2.com/apps/dota2/images/abilities/phantom_lancer_juxtapose_hp1.png" width="30" height="30" /> Phantom Lancer - Juxtapose
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5065">
                            <img src="http://cdn.dota2.com/apps/dota2/images/abilities/phantom_lancer_spirit_lance_hp1.png" width="30" height="30" /> Phantom Lancer - Spirit Lance
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5620">
                            <img src="http://cdn.dota2.com/apps/dota2/images/abilities/terrorblade_conjure_image_hp1.png" width="30" height="30" /> Terrorblade - Conjure Image
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5619">
                            <img src="http://cdn.dota2.com/apps/dota2/images/abilities/terrorblade_reflection_hp1.png" width="30" height="30" /> Terrorblade - Reflection
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h5>Items</h5>
                <ul class="list-unstyled">
                    <li>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/manta_lg.png" width="40" height="30" /> Manta Style - Mirror Image
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <h3>Instantly kills illusions</h3>

        <div class="row">
            <div class="col-md-6">
                <h5>Abilities</h5>
                <ul class="list-unstyled">
                    <li>
                        <a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5459">
                            <img src="http://cdn.dota2.com/apps/dota2/images/abilities/disruptor_glimpse_hp1.png" width="30" height="30" /> Disruptor - Glimpse
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5045">
                            <img src="http://cdn.dota2.com/apps/dota2/images/abilities/lion_voodoo_hp1.png" width="30" height="30" /> Lion - Hex
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5046">
                            <img src="http://cdn.dota2.com/apps/dota2/images/abilities/lion_mana_drain_hp1.png" width="30" height="30" /> Lion - Mana Drain
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5507">
                            <img src="http://cdn.dota2.com/apps/dota2/images/abilities/medusa_stone_gaze_hp1.png" width="30" height="30" /> Medusa - Stone Gaze
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5189">
                            <img src="http://cdn.dota2.com/apps/dota2/images/abilities/pugna_life_drain_hp1.png" width="30" height="30" /> Pugna - Life Drain
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5079">
                            <img src="http://cdn.dota2.com/apps/dota2/images/abilities/shadow_shaman_voodoo_hp1.png" width="30" height="30" /> Shadow Shaman - Hex
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h5>Items</h5>
                <ul class="list-unstyled">
                    <li>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/sheepstick_lg.png" width="40" height="30" /> Scythe of Vyse - Hex
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

<hr />

<h3>Works with Illusions</h3>

 <div class="row">
    <div class="col-md-6">
        <h5>Abilities</h5>

        <table id="tblWorkingAbilities" class="table table-condensed" >
            <thead>
                <tr>
                    <th>Icon</th>
                    <th>Hero</th>
                    <th>Ability</th>
                    <th>Effect</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/enchantress_untouchable_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="58">Enchantress</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5267">Untouchable</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/legion_commander_press_the_attack_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="104">Legion Commander</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5596">Press the Attack</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/lycan_feral_impulse_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="77">Lycan</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5397">Feral Impulse</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/mirana_leap_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="9">Mirana</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5050">Leap</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/omniknight_degen_aura_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="57">Omniknight</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5265">Degen Aura</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/sandking_epicenter_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="16">Sand King</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5105">Epicenter</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/terrorblade_reflection_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="109">Terrorblade</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5619">Reflection</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/tiny_grow_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="19">Tiny</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="">Grow</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/skeleton_king_reincarnation_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="42">Wraith King</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5089">Reincarnation</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/antimage_spell_shield_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="1">Anti-Mage</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5005">Spell Shield</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/oracle_fates_edict_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="111">Oracle</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5638">Fate's Edict</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/pudge_flesh_heap_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="14">Pudge</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5074">Flesh Heap</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/viper_corrosive_skin_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="47">Viper</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5220">Corrosive Skin</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/alchemist_chemical_rage_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="73">Alchemist</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5369">Chemical Rage</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/dragon_knight_elder_dragon_form_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="49">Dragon Knight</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5229">Elder Dragon Form</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/medusa_split_shot_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="94">Medusa</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5504">Split Shot</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/terrorblade_metamorphosis_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="109">Terrorblade</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="">Metamorphosis</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/undying_flesh_golem_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="85">Undying</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5447">Flesh Golem</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/antimage_mana_break_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="1">Anti-Mage</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5003">Mana Break</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/brewmaster_drunken_brawler_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="78">Brewmaster</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5402">Drunken Brawler</a></td>
                    <td>Critical Strike</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/broodmother_incapacitating_bite_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="61">Broodmother</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5281">Incapacitating Bite</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/broodmother_insatiable_hunger_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="61">Broodmother</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5282">Insatiable Hunger</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/chaos_knight_chaos_strike_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="81">Chaos Knight</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5428">Chaos Strike</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/drow_ranger_marksmanship_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="6">Drow Ranger</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5022">Marksmanship</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/juggernaut_blade_dance_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="8">Juggernaut</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5027">Blade Dance</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/legion_commander_moment_of_courage_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="104">Legion Commander</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5597">Moment of Courage</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/luna_moon_glaive_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="48">Luna</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5223">Moon Glaive</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/lycan_shapeshift_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="77">Lycan</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5398">Shapeshift</a></td>
                    <td>Critical Strike</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/phantom_assassin_coup_de_grace_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="44">Phantom Assassin</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5193">Coup de Grace</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/phantom_lancer_juxtapose_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="12">Phantom Lancer</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5067">Juxtapose</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/venomancer_poison_sting_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="40">Venomancer</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5179">Poison Sting</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/skeleton_king_mortal_strike_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="42">Wraith King</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5088">Mortal Strike</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/axe_counter_helix_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="2">Axe</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5009">Counter Helix</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/bristleback_warpath_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="99">Bristleback</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5551">Warpath</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/centaur_return_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="96">Centaur Warrunner</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5516">Return</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/dragon_knight_dragon_blood_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="49">Dragon Knight</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5228">Dragon Blood</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/earthshaker_aftershock_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="7">Earthshaker</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5025">Aftershock</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/faceless_void_chronosphere_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="41">Faceless Void</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5185">Chronosphere</a></td>
                    <td>Immunity</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/huskar_berserkers_blood_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="59">Huskar</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5273">Berserker's Blood</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/lina_fiery_soul_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="25">Lina</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5042">Fiery Soul</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/necrolyte_sadist_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="36">Necrophos</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5160">Sadist</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/night_stalker_hunter_in_the_night_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="60">Night Stalker</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5277">Hunter in the Night</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/phantom_assassin_blur_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="44">Phantom Assassin</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5192">Blur</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/phantom_lancer_phantom_edge_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="12">Phantom Lancer</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5068">Phantom Rush</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/razor_unstable_current_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="15">Razor</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5084">Unstable Current</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/storm_spirit_overload_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="17">Storm Spirit</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5100">Overload</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/visage_gravekeepers_cloak_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="92">Visage</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5482">Gravekeeper's Cloak</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/crystal_maiden_brilliance_aura_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="5">Crystal Maiden</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5128">Arcane Aura</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/elder_titan_natural_order_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="103">Elder Titan</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5593">Natural Order</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/luna_lunar_blessing_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="48">Luna</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5224">Lunar Blessing</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/magnataur_empower_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="97">Magnus</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5519">Empower</a></td>
                    <td>Aura</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/spirit_breaker_empowering_haste_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="71">Spirit Breaker</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5354">Empowering Haste</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/vengefulspirit_command_aura_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="20">Vengeful Spirit</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5123">Vengeance Aura</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/skeleton_king_vampiric_aura_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="42">Wraith King</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5087">Vampiric Aura</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/abilities/undying_flesh_golem_hp1.png" width="30" height="30" />
                    </td>
                    <td><a asp-area="" asp-controller="Heroes" asp-action="Details" asp-route-id="85">Undying</a></td>
                    <td><a asp-area="" asp-controller="Abilities" asp-action="Details" asp-route-id="5447">Flesh Golem</a></td>
                    <td>Plague Aura</td>
                </tr>

            </tbody>
        </table>

    </div>
    <div class="col-md-6">
        <h5>Items</h5>

        <table id="tblWorkingItems" class="table table-condensed">
            <thead>
                <tr>
                    <th>Icon</th>
                    <th>Item</th>
                    <th>Effect</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/ancient_janggo_lg.png" width="40" height="30" />
                    </td>
                    <td>Drum of Endurance</td>
                    <td>Swiftness Aura</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/shivas_guard_lg.png" width="40" height="30" />
                    </td>
                    <td>Shiva's Guard</td>
                    <td>Freezing Aura</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/armlet_lg.png" width="40" height="30" />
                    </td>
                    <td>Armlet of Mordiggian</td>
                    <td>Unholy Strengh</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/quelling_blade_lg.png" width="40" height="30" />
                    </td>
                    <td>Quelling Blade</td>
                    <td>Quel</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/iron_talon_lg.png" width="40" height="30" />
                    </td>
                    <td>Iron Talon</td>
                    <td>Quel</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/bfury_lg.png" width="40" height="30" />
                    </td>
                    <td>Battle Fury</td>
                    <td>Quel</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/lesser_crit_lg.png" width="40" height="30" />
                    </td>
                    <td>Crystalys</td>
                    <td>Critical Strike</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/greater_crit_lg.png" width="40" height="30" />
                    </td>
                    <td>Daedalus</td>
                    <td>Critical Strike</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/diffusal_blade_lg.png" width="40" height="30" /> 
                    </td>
                    <td>Diffusal Blade</td>
                    <td>Manabreak</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/orb_of_venom_lg.png" width="40" height="30" />
                    </td>
                    <td>Orb of Venom</td>
                    <td>Poison Attack</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/abyssal_blade_lg.png" width="40" height="30" /> 
                    </td>
                    <td>Abyssal Blade</td>
                    <td>Damage Block</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/aether_lens_lg.png" width="40" height="30" />
                    </td>
                    <td>Aether Lens</td>
                    <td>Spell Range Bonus</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/crimson_guard_lg.png" width="40" height="30" />
                    </td>
                    <td>Crimson Guard</td>
                    <td>Damage Block</td>
                </tr>
                <!--
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/octarine_core_lg.png" width="40" height="30" />
                    </td>
                    <td>Octarine Core</td>
                    <td>Cooldown Reduction</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/octarine_core_lg.png" width="40" height="30" />
                    </td>
                    <td>Octarine Core</td>
                    <td>Spell Lifesteal</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/poor_mans_shield_lg.png" width="40" height="30" /> Poor Man's Shield - Damage Block
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                -->
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/stout_shield_lg.png" width="40" height="30" />
                    </td>
                    <td>Stout Shield</td>
                    <td>Damage Block</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/vanguard_lg.png" width="40" height="30" />
                    </td>
                    <td>Vanguard</td>
                    <td>Damage Block</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/assault_lg.png" width="40" height="30" />
                    </td>
                    <td>Assault Cuirass</td>
                    <td>Assault Aura</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/ancient_janggo_lg.png" width="40" height="30" />
                    </td>
                    <td>Drum of Endurance</td>
                    <td>Swiftness Aura</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/gem_lg.png" width="40" height="30" />
                    </td>
                    <td>Gem of True Sight</td>
                    <td>True Sight</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/guardian_greaves_lg.png" width="40" height="30" />
                    </td>
                    <td>Guardian Greaves</td>
                    <td>Guardian Aura</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/headdress_lg.png" width="40" height="30" />
                    </td>
                    <td>Headdress</td>
                    <td>Regeneration Aura</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/mekansm_lg.png" width="40" height="30" />
                    </td>
                    <td>Mekansm</td>
                    <td>Mekansm Aura</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/pipe_lg.png" width="40" height="30" />
                    </td>
                    <td>Pipe of Insight</td>
                    <td>Insight Aura</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/radiance_lg.png" width="40" height="30" />
                    </td>
                    <td>Radiance</td>
                    <td>Burn</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/ring_of_aquila_lg.png" width="40" height="30" />
                    </td>
                    <td>Ring of Aquila</td>
                    <td>Aquila Aura</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/ring_of_basilius_lg.png" width="40" height="30" />
                    </td>
                    <td>Ring of Basilius</td>
                    <td>Basilius Aura</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/shivas_guard_lg.png" width="40" height="30" /> 
                    </td>
                    <td>Shiva's Guard</td>
                    <td>Freezing Aura</td>
                </tr>
                <tr>
                    <td>
                        <img src="http://cdn.dota2.com/apps/dota2/images/items/vladmir_lg.png" width="40" height="30" />
                    </td>
                    <td>Vladmir's Offering</td>
                    <td>Vladmir's Aura</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblWorkingAbilities').DataTable({
                "info": false,
                "pagingType": "simple",
            });

            $('#tblWorkingItems').DataTable({
                "info": false,
                "pagingType": "simple",
            });
        });
    </script>
}