@{
    ViewData["Title"] = "Home";
}

<!-- Jumbotron Header -->
<header class="jumbotron hero-spacer">
    <div class="row">
        <div class="col-md-2">
            <img src="~/images/mascot/HGV-Mascot-2.png" class="img-responsive" />
            <div class="alert alert-info text-center">
                <strong>Hi, Iam Cluckles!</strong><br />
            </div>
        </div>
        <div class="col-md-10">
            <p>
                Abilty Draft is hard! luckly I am here to help.
                The ability draft mode adds a drafting process for abilities into the mix before the match begins.
                A lot of people treat it like a joke mode, especially when it becomes apparent that their builds suck.
            </p>
            <p>
                Play a hero with four abilities selected from a random pool of abilities.
                Players are given a random hero from Ability-Draft enabled heroes. Each players' abilities are put into a pool.
                Players take turns selecting abilities from the pool, given five seconds for each choice. Each player selects three normal abilities and one ultimate.
            </p>

        </div>
    </div>
</header>
<hr>
<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3>Why We Are Awesome?</h3>
    </div>
</div>
<!-- /.row -->
<!-- Page Features -->
<div class="row text-center">
    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="~/images/landing/Picture4.png" style="width: 800px; height: 200px;">
            <div class="caption">
                <h3>Draft</h3>
                <p>Ever Wonder what to draft? Wonder no more, our mock drafter allows you set up a draft and get infomation about the best combos and see highlights about your hero.</p>
                <p>
                    <a asp-area="" asp-controller="Draft" asp-action="Index" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="~/images/landing/Picture2.jpg" style="width: 800px; height: 200px;">
            <div class="caption">
                <h3>Heros</h3>
                <p>Ever wonder what hero has the best attributes? Wonder no more, we have a list of hero stats and have create a visual ranking to esily compare heroes.</p>
                <p>
                    <a asp-area="" asp-controller="Heroes" asp-action="Index" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>
   
    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="~/images/landing/Picture3.jpg" style="width: 800px; height: 200px;">
            <div class="caption">
                <h3>Abilities</h3>
                <p>Ever wonder what how many kills an abilty gets? Wonder no more, we have anylsised matches and tracked W/L KDA for abilities, heroes, and their combos.</p>
                <p>
                    <a asp-area="" asp-controller="Abilities" asp-action="Index" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="~/images/landing/Picture1.jpg" style="width: 800px; height: 200px;">
            <div class="caption">
                <h3>Illusions</h3>
                <p>Ever wonder what abilties works with the Illusions? Wonder no more, we have complied a complete list of abilties and items that work with illusions.</p>
                <p>
                    <a asp-area="" asp-controller="Info" asp-action="Illusions" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>
    
</div>
<!-- /.row -->

@*<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2">
                <img src="~/images/mascot/HGV-Mascot-2.png" class="img-responsive" />
                <div class="alert alert-info text-center">
                    <strong>Hi, Iam Cluckles!</strong><br />
                </div>
                <p>
                    Iam a courier that thing you never buy in AD. 
                </p>
                <p>
                    Next time at least think about it...
                </p>
            </div>
            <div class="col-md-10">
                <p>
                    Abilty Draft is hard! luckly I am here to help.
                    The ability draft mode adds a drafting process for abilities into the mix before the match begins.
                    A lot of people treat it like a joke mode, especially when it becomes apparent that their builds suck.
                </p>
                <p>
                    Play a hero with four abilities selected from a random pool of abilities.
                    Players are given a random hero from Ability-Draft enabled heroes. Each players' abilities are put into a pool.
                    Players take turns selecting abilities from the pool, given five seconds for each choice. Each player selects three normal abilities and one ultimate.
                </p>

                <p>
                    There is alot going on durring the draft process, lets break it down.
                </p>

                <p class="text-center">
                    <img src="~/images/Picture1.jpg" width="75%" />
                </p>

                <p>
                    You are assigned a random (sure dose not feel this way sometimes) hero from the <a asp-area="" asp-controller="Heroes" asp-action="Index" target="_blank">avaible</a> pool. Then a timer begins for 60 seconds this is pre draft. A chance to gather your thoughts or use our mock <a asp-area="" asp-controller="Draft" asp-action="Index" target="_blank">drafter</a> to suggest combos, allow you to quyckly view details of drafting heroes, view ability details, and their combos filtered to the abilities of the draft.
                </p>
            </div>
        </div>

    </div>
</div>*@