
@{
    ViewBag.Title = "Questions";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>consectetur adipiscing elit. Ut nec egestas tellus, a mattis diam. Aenean id justo consectetur, consectetur arcu sit amet, egestas eros. Sed odio magna, rhoncus ut turpis in, aliquam tristique orci. Nunc cursus condimentum elit vel dictum. Vivamus eu urna ut quam placerat pharetra pellentesque condimentum risus. Praesent rutrum augue interdum nibh consectetur scelerisque. Suspendisse a risus porta, aliquet nibh et, interdum metus. In a sem eget ipsum consequat rhoncus. Nullam facilisis massa id neque viverra sodales. Fusce ut varius diam, sit amet egestas augue. Vestibulum non ultricies dolor, a condimentum nulla. Sed bibendum pharetra laoreet. Suspendisse faucibus finibus velit, a iaculis arcu rhoncus eget. Proin a elementum risus. Fusce sed erat sed velit eleifend lacinia at id augue. Vivamus feugiat porttitor mauris, sed accumsan velit interdum id.</p>
    </div>
</div>