@{
    ViewData["Title"] = "Thanks";
}

<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <img src="~/images/characters/shadow_fiend.png" />
        </div>
    </div>
</div>
