@{
    ViewData["Title"] = "Draft Pool";
}

<section class="opaque-background rounded">
    <br />
    <div class="row">
        <div class="col-xs-12 col-md-10">
            <h2 class="important-title">Draft Pool</h2>
            <p>Find out exactly which heroes and which abilities are active. Below are listed the heroes and abilities that make up the draft pool. The active heroes and abilities are in colour while the disabled ones are greyed out.</p>
            <table id="roaster" class="table">
                <tbody></tbody>
            </table>
        </div>
        <div class="col-md-2 hidden-sm hidden-xs">
            <img src="~/images/characters/cluckles.png" class="img-responsive" />
            <div class="alert alert-info text-center">
                <strong>Drafting Changes!</strong><br />
                <p>With all the new additions it gives hope that one day all heroes will be included.</p>
            </div>
        </div>
    </div>
</section>